*.log
.DS_Store

# nasty backup files text editors write every now and then
.*~
.*.swp
.directory
.*.kate-swp
.bundle

# these are config files, probably with secrets in them you don't want in version control
environment.rb
htpasswd
