
<form action="/login" method="post" class="well form-inline">
  <input type="text" class="input-small" name="username" placeholder="Username"/>
  <input type="password" class="input-small" name="password" placeholder="Password"/>
  <button type="submit" value="login" class="btn">Sign in</button>
</form>

